/* Custom Styles */
body {
    background-color: #f8fdfa; 
  }
  
  header, .navbar {
    background: linear-gradient(120deg, #daf5dc 0%, #e8f8ee 100%); 
  }
  
  .navbar-brand, .nav-link {
    color: #333; 
  }
  
  .navbar-icons a {
    color: #5c946e; 
  }
  
  /* New Product Section */
  #new-product h1, #new-product h2 {
    color: #333; 
  }
  
  #new-product p {
    color: #666; 
  }
  
  /* Footer */
  footer {
    background-color: #d4efdf; 
  }
  
  footer p {
    color: #daf5dc; 
  }
  
  footer a {
    color: #5c946e; 
  }
  
  /* Responsive Image */
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  /* Parallax Effect for Hero Section */
  #hero {
    background: url('/images/orchid-white.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.hero-heading {
    font-size: 3rem;
    color: white;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px rgba(0,0,0,0.5);

    transition: font-size 0.3s ease; 
}

#hero:hover .hero-heading {
    font-size: 3.5rem; 
}

  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .navbar-icons {
      position: static; 
      margin-bottom: 1rem;
    }
    
    .hero-heading {
      font-size: 2rem; 
    }
  }


  .section-icon {
    font-size: 3rem; 
    color: #4CAF50; 
    transition: transform 0.3s ease; 
  }
  
  .section-heading {
    font-size: 1rem; 
    color: #4CAF50; 
  }
  
  .section-link {
    text-decoration: none; 
    display: block; 
    margin-bottom: 1rem; 
  }
  
  .section-link:hover .section-icon {
    transform: scale(1.1);
  }
  
  /* Add this inside your media query for responsive sizing */
  @media (min-width: 768px) {
    .section-icon {
      font-size: 4rem; 
    }
  }
  


  /*sign in */
  .login-container {
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  }

.form-container {
    margin-bottom: 20px;
}

.form-container h2 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 15px; 
}

.form-container input {
    margin-bottom: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding: 10px; 
}

.form-container button {
    width: 100%; 
    padding: 10px; 
    background-color: #28a745; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.form-container button:hover {
    background-color: #218838; 
}

.form-container p {
    text-align: center; 
}

.form-container span {
    color: #007bff; 
    cursor: pointer; 
}

  
